html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
/*--------------Úvodní fotka s popiskem-----------*/
.centrovani {
  margin: 0 auto;

  border: 1px solid gainsboro;
}

.obsah {
  padding: 60px 20px 60px 20px;
  text-align: center;
}

.cestovatel {
  max-width: 100%;
}

.nadpis1 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
}

.carabox {
  width: 60px;
  margin: auto;
}
.cara {
  border-top: 2px solid #407bff;
  margin-bottom: 30px;
}

.odstavec {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #8b8b8b;
}

/*--------------Tlačítka-----------*/
.tlacitka {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tlacitka a {
  display: block;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

li .modre {
  margin: auto;
  max-width: 195px;
  background-color: #407bff;
}

li .sede {
  margin: 10px auto;
  max-width: 221px;
  background-color: #8b8b8b;
}

/*-----------Služby---------------*/

.nadpisy2 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.karta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 6px 0px rgba(64, 123, 255, 0.1);
}
.obsahKarty {
  display: flex;
  padding-left: 20px;
}

.popisky {
  padding: 30px 20px 20px 30px;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #8b8b8b;
}

.ikony {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*-----------------TABLET--------------------*/

@media screen and (min-width: 640px) {
  .nadpisy2 {
    margin-top: 80px;
  }

  .odstavec {
    padding-left: 75px;
    padding-right: 75px;
  }

  .texty {
    margin-bottom: 40px;
  }

  .tlacitka {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  li .sede {
    margin: 0;
  }

  .karty {
    display: flex;
    gap: 20px;
  }
  .karta {
    flex: 1 1 calc(100% / 3);
    margin-top: 0;
  }

  .obsahKarty {
    display: block;
    padding: 40px 15px 20px 15px;
  }
  .popisky {
    padding: 0;
  }
  .ikony {
    padding: 0 0 20px 0;
  }
}


